/* Contenedor principal */
.main-container {
    width: 100%; /* Ancho completo del contenedor */
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: column; /* Direcciona los elementos de manera vertical */
    justify-content: center; /* Centra los elementos en el eje vertical */
    text-align: center; /* Centra el texto */
    margin: 2vh 0; /* Margen vertical */
}

/* Contenedor del encabezado */
.header-container {
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: row; /* Direcciona los elementos de manera horizontal */
    align-items: center; /* Alinea los elementos al centro en el eje vertical */
    justify-content: space-around; /* Espacia los elementos uniformemente */
    padding: 20px 0px; /* Padding vertical */
    margin-bottom: 20px; /* Margen inferior */
    width: 100%; /* Ancho completo del contenedor */
    height: 25vh; /* Altura del contenedor */
    background-size: cover; /* Cubre todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
}

/* Iconos en el encabezado */
.header-container .icon {
    margin: 10px 30px; /* Margen alrededor del icono */
    background-color: var(--pink); /* Color de fondo del icono */
    height: 65px; /* Altura del icono */
    width: 65px; /* Ancho del icono */
    display: flex; /* Utiliza el modelo de caja flexible */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    border-radius: 50%; /* Hace el icono circular */
    position: relative; /* Posicionamiento relativo */
    cursor: pointer; /* Cambia el cursor al pasar sobre el icono */
}

/* SVG dentro de los iconos del encabezado */
.header-container .icon svg {
    margin: 22px 15px 20px 8px; /* Margen alrededor del SVG */
    transform: rotate(180deg); /* Rota el SVG 180 grados */
}

/* Título en el encabezado */
.header-container h1 {
    width: 60%; /* Ancho del título */
    align-self: center; /* Alinea el título al centro */
    text-align: center; /* Centra el texto */
    font-size: 90px; /* Tamaño de la fuente */
    color: white; /* Color del texto */
}

/* Espaciador en el encabezado */
.header-container .sp {
    width: 5%; /* Ancho del espaciador */
}

/* Contenedor de la información */
.info-container {
    width: 80%; /* Ancho del contenedor */
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: column; /* Direcciona los elementos de manera vertical */
    align-self: center; /* Alinea el contenedor al centro */
    margin: 3vh 3vw; /* Margen alrededor del contenedor */
}

/* Título en la información */
.info-container h1 {
    margin: 1vh 3vw; /* Margen alrededor del título */
}

/* Párrafos en la información */
.info-container p {
    color: var(--gray); /* Color del texto */
    font-size: 20px; /* Tamaño de la fuente */
}

/* Subtítulos en la información */
.info-container h2 {
    color: var(--light-blue); /* Color del texto */
}

/* Contenedor de los elementos */
.items-container {
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: column; /* Direcciona los elementos de manera vertical */
    gap: 3vh 1vw; /* Espaciado entre los elementos */
    margin: 5vh 3vw; /* Margen alrededor del contenedor */
}

/* Contenedor de la imagen del elemento */
.items-container .info-item-img {
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: row; /* Direcciona los elementos de manera horizontal */
    gap: 1vw; /* Espaciado entre los elementos */
}

/* Imagen dentro del contenedor del elemento */
.items-container .info-item-img img {
    width: 23vw; /* Ancho de la imagen */
    height: 23vh; /* Altura de la imagen */
    background-color: var(--pink); /* Color de fondo de la imagen */
}

/* Subtítulo dentro del elemento */
.items-container .info-item h2 {
    text-align: center; /* Centra el texto */
}

/* Contenedor de la imagen principal */
.img-container {
    display: flex; /* Utiliza el modelo de caja flexible */
    align-items: center; /* Alinea los elementos al centro en el eje vertical */
    justify-content: center; /* Centra los elementos horizontalmente */
    margin: 2vh 0; /* Margen vertical */
}

/* Imagen principal */
.img-container img {
    width: 80%; /* Ancho de la imagen */
    height: 60%; /* Altura de la imagen */
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
    .items-container .info-item-img {
        flex-direction: column; /* Cambia la dirección de los elementos a vertical */
        align-items: center; /* Alinea los elementos al centro */
    }
}
