/* Contenedor principal */
.main-container {
    width: 100%; /* Ancho completo del contenedor */
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: column; /* Direcciona los elementos de manera vertical */
    justify-content: center; /* Centra los elementos en el eje vertical */
    margin: 2vh 0; /* Margen vertical */
}

/* Contenedor del encabezado */
.header-container {
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: row; /* Direcciona los elementos de manera horizontal */
    align-items: center; /* Alinea los elementos al centro en el eje vertical */
    justify-content: space-around; /* Espacia los elementos uniformemente */
    padding: 20px 0px; /* Padding vertical */
    margin-bottom: 20px; /* Margen inferior */
    width: 100%; /* Ancho completo del contenedor */
    height: 25vh; /* Altura del contenedor */
    background-size: cover; /* Cubre todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
}

/* Iconos en el encabezado */
.header-container .icon {
    margin: 10px 30px; /* Margen alrededor del icono */
    background-color: var(--pink); /* Color de fondo del icono */
    height: 65px; /* Altura del icono */
    width: 65px; /* Ancho del icono */
    display: flex; /* Utiliza el modelo de caja flexible */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    border-radius: 50%; /* Hace el icono circular */
    position: relative; /* Posicionamiento relativo */
    cursor: pointer; /* Cambia el cursor al pasar sobre el icono */
}

/* SVG dentro de los iconos del encabezado */
.header-container .icon svg {
    margin: 22px 15px 20px 8px; /* Margen alrededor del SVG */
    transform: rotate(180deg); /* Rota el SVG 180 grados */
}

/* Título en el encabezado */
.header-container h1 {
    align-self: center; /* Alinea el título al centro */
    text-align: center; /* Centra el texto */
    font-size: 90px; /* Tamaño de la fuente */
    color: white; /* Color del texto */
}

/* Espaciador en el encabezado */
.header-container .sp {
    width: 5%; /* Ancho del espaciador */
}

/* Contenedor del carrito */
.carrito {
    margin: 4vh 0; /* Margen vertical */
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: row; /* Direcciona los elementos de manera horizontal */
    color: white; /* Color del texto */
}

/* Título dentro del carrito */
.carrito h2 {
    font-family: "dine-r"; /* Familia de la fuente */
}

/* Contenedor de la información del producto */
.product-info-container {
    width: 65%; /* Ancho del contenedor */
    border-right: white solid 3px; /* Borde derecho blanco */
    background-color: var(--pink); /* Color de fondo */
}

/* Contenido dentro de la información del producto */
.product-info-container .content {
    margin: 2vh 2vw; /* Margen alrededor del contenido */
}

/* Encabezado de las columnas */
.columns-header {
    width: 100%; /* Ancho completo del contenedor */
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: row; /* Direcciona los elementos de manera horizontal */
    justify-content: space-between; /* Espacia los elementos uniformemente */
}

/* Columna de productos */
.columns-header .product {
    width: 50%; /* Ancho de la columna de productos */
}

/* Columna de cantidad */
.columns-header .quantity {
    width: 10%; /* Ancho de la columna de cantidad */
}

/* Columna de total */
.columns-header .total {
    align-self: flex-end; /* Alinea la columna al final */
    width: 20%; /* Ancho de la columna de total */
}

/* Contenedor de productos */
.product-container {
    width: 100%; /* Ancho completo del contenedor */
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: column; /* Direcciona los elementos de manera vertical */
    gap: 2vh 0; /* Espaciado vertical entre los elementos */
    margin: 1vh 0; /* Margen vertical */
}

/* Tarjeta de producto */
.product-card {
    width: 100%; /* Ancho completo de la tarjeta */
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: row; /* Direcciona los elementos de manera horizontal */
    justify-content: space-between; /* Espacia los elementos uniformemente */
    gap: 1vh 0; /* Espaciado vertical entre los elementos */
    padding: 1vh 1vw 1vh 0.2vw; /* Padding alrededor de la tarjeta */
    border-radius: 5px; /* Bordes redondeados */
    color: var(--light-blue-2); /* Color del texto */
    transition: all 0.1s; /* Transición en todas las propiedades */
}

/* Información del producto en la tarjeta */
.product-card .product-info {
    width: 50%; /* Ancho de la información del producto */
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: row; /* Direcciona los elementos de manera horizontal */
    gap: 0 1vw; /* Espaciado horizontal entre los elementos */
}

/* Imagen del producto */
.product-info .product-img img {
    width: 9vw; /* Ancho de la imagen */
    height: 18vh; /* Altura de la imagen */
    background-color: white; /* Color de fondo */
    border-radius: 15px; /* Bordes redondeados */
}

/* Contenedor de la descripción del producto */
.product-info .product {
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: column; /* Direcciona los elementos de manera vertical */
    gap: 1vh 0; /* Espaciado vertical entre los elementos */
}

/* Contenedor de la cantidad */
.product-card .quantity {
    width: 10%; /* Ancho del contenedor de cantidad */
}

/* Contenedor del input de cantidad */
.quantity .input-container {
    display: flex; /* Utiliza el modelo de caja flexible */
    align-items: center; /* Alinea los elementos al centro en el eje vertical */
    justify-content: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto */
    border-radius: 15px; /* Bordes redondeados */
    border: 3px solid white; /* Borde blanco */
    width: 100px; /* Ancho del contenedor */
}

/* Botones de cantidad */
.quantity button {
    background-color: var(--pink); /* Color de fondo de los botones */
    padding: 10px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 16px; /* Tamaño de la fuente */
    color: var(--light-blue-2); /* Color del texto */
    width: 35px; /* Ancho del botón */
    height: 35px; /* Altura del botón */
}

/* Input de cantidad */
.quantity input.number-input {
    width: 35px; /* Ancho del input */
    height: 35px; /* Altura del input */
    text-align: center; /* Centra el texto */
    border-left: 3px solid white; /* Borde izquierdo blanco */
    border-right: 3px solid white; /* Borde derecho blanco */
    border-top: none; /* Sin borde superior */
    border-bottom: none; /* Sin borde inferior */
    background-color: var(--pink); /* Color de fondo del input */
    color: var(--light-blue-2); /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
}

/* Eliminar el borde del input en focus */
.quantity input.number-input:focus {
    outline: none; /* Sin borde en focus */
}

/* Eliminar los botones de incremento/decremento en WebKit */
.quantity input.number-input::-webkit-outer-spin-button,
.quantity input.number-input::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Apariencia de WebKit */
    margin: 0; /* Sin margen */
}

/* Contenedor del total */
.product-card .total {
    width: 20%; /* Ancho del contenedor */
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: row; /* Direcciona los elementos de manera horizontal */
    justify-content: space-between; /* Espacia los elementos uniformemente */
}

/* Botón de eliminar */
.total .delete {
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Contenedor de la información del pedido */
.pedido-info {
    width: 32%; /* Ancho del contenedor */
    padding: 2vh 2vw; /* Padding alrededor del contenedor */
    background-color: var(--light-blue); /* Color de fondo */
}

/* Contenido dentro de la información del pedido */
.pedido-info .content {
    height: 60%; /* Altura del contenido */
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: column; /* Direcciona los elementos de manera vertical */
}

/* Línea divisoria dentro de la información del pedido */
.pedido-info .line {
    background-color: white; /* Color de fondo */
    width: 100%; /* Ancho completo de la línea */
    margin-top: 5px; /* Margen superior */
}

/* Detalles dentro de la información del pedido */
.pedido-info .detalles {
    width: 100%; /* Ancho completo */
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: column; /* Direcciona los elementos de manera vertical */
    align-self: flex-start; /* Alinea los elementos al inicio */
    gap: 2vh 0; /* Espaciado vertical entre los elementos */
    margin: 1vh 0px 7vh 0px; /* Margen alrededor de los elementos */
}

/* Elemento dentro de los detalles */
.detalles .item {
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: row; /* Direcciona los elementos de manera horizontal */
    justify-content: space-between; /* Espacia los elementos uniformemente */
}

/* Contenedor del pie de página */
.footer {
    margin: 1vh 0px 10vh 0; /* Margen alrededor del pie de página */
}

/* Total dentro del pie de página */
.footer .total {
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: row; /* Direcciona los elementos de manera horizontal */
    justify-content: space-between; /* Espacia los elementos uniformemente */
}

/* Contenedor del botón de finalizar */
.finish {
    display: flex; /* Utiliza el modelo de caja flexible */
    justify-content: center; /* Centra los elementos horizontalmente */
}

/* Botón de finalizar */
.finish button {
    background-color: white; /* Color de fondo del botón */
    color: var(--light-blue-2); /* Color del texto */
}

/* Hover en el botón de finalizar */
.finish button:hover {
    background-color: var(--light-gray); /* Color de fondo en hover */
}

/* Contenedor de productos sugeridos */
.suggested-container {
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: column; /* Direcciona los elementos de manera vertical */
    align-items: start; /* Alinea los elementos al inicio */
    justify-content: flex-start; /* Alinea los elementos al inicio */
    width: 100%; /* Ancho completo del contenedor */
}

/* Título dentro de productos sugeridos */
.suggested-container h1 {
    color: var(--light-blue-2); /* Color del texto */
    font-size: 40px; /* Tamaño de la fuente */
    margin: 2vh 7vw; /* Margen alrededor del título */
}

/* Caja contenedora de productos sugeridos */
.suggested-container-box {
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: row; /* Direcciona los elementos de manera horizontal */
    align-items: center; /* Alinea los elementos al centro */
    justify-content: center; /* Centra los elementos horizontalmente */
    width: 100%; /* Ancho completo de la caja */
}

/* Botón previo en productos sugeridos */
.suggested-container-box .prev {
    margin-left: 2vw; /* Margen izquierdo */
    width: 10%; /* Ancho del botón */
}

/* Icono SVG en el botón previo */
.suggested-container-box .prev svg {
    cursor: pointer; /* Cambia el cursor al pasar sobre el icono */
}

/* Botón siguiente en productos sugeridos */
.suggested-container-box .next {
    width: 10%; /* Ancho del botón */
}

/* Icono SVG en el botón siguiente */
.suggested-container-box .next svg {
    cursor: pointer; /* Cambia el cursor al pasar sobre el icono */
}

/* Media query para pantallas menores a 1350px */
@media (max-width: 1350px) {
    .columns-header .quantity {
        width: 30%; /* Ancho de la columna de cantidad */
        text-align: center; /* Centra el texto */
    }
}

/* Media query para pantallas menores a 1024px */
@media (max-width: 1024px) {
    .carrito {
        flex-direction: column; /* Direcciona los elementos de manera vertical */
    }
    .product-info-container {
        width: 100%; /* Ancho completo del contenedor */
        border-right: none; /* Sin borde derecho */
    }
    .pedido-info {
        width: 80%; /* Ancho del contenedor */
        align-self: center; /* Centra el contenedor */
    }
    .product-info .product-img img {
        width: 15vw; /* Ancho de la imagen */
    }
    .header-container h1 {
        font-size: 70px; /* Tamaño de la fuente */
    }
}

/* Media query para pantallas menores a 768px */
@media (max-width: 768px) {
    .header-container h1 {
        font-size: 50px; /* Tamaño de la fuente */
    }
}
