* {
    padding: 0;
    margin: 0;
}

.category-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.main-container {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.category-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;

    margin-bottom: 40px;
    width: 100%;
    background-color: var(--light-blue);
}

.category-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    margin-bottom: 20px;
    width: 100%;
    background-color: var(--light-blue);
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category .category-img {
    width: 40%;
    height: 100%;
    margin: 10px 30px;
}

.category .category-img img {
    background-color: var(--light-blue2);
    border-radius: 50%;
    padding: 5px;
    border: 4px solid white;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.category .category-name {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.category .category-name h1 {
    margin-left: 20px;
    width: 100%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.header-button {
    margin: 10px 30px;
    background-color: var(--pink);
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.header-button svg {
    margin: 22px 15px 20px 8px;
    transform: rotate(180deg);
}

.header-img {
    width: 10%;
    height: 100%;
    margin: 10px 30px;
}

.header-img img {
    background-color: var(--light-blue2);
    border-radius: 50%;
    padding: 5px;
    border: 4px solid white;
    align-items: center;
    width: 100%;
    height: 100%;
}

.category-name {
    width: 60%;
    display: flex;
    justify-content: flex-start;
}

.category-name h1 {
    margin-left: 60px;
    font-size: 90px;
    color: white;
}

.subcategory-box {
    margin-left: 3vw;
}

.subcategory-box h1 {
    font-size: 40px;
    color: var(--pink);
}

.subcategory-container {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    flex-wrap: wrap;
}

.subcategory-container .subcategory {
    padding: 5px 10px;
    border-radius: 30px;
    background-color: var(--light-blue2);
    margin: 10px 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.subcategory-container .subcategory:hover {
    background-color: var(--light-blue2-selected);
}

.subcategory-container .subcategory h2 {
    margin: 2px 10px;
    color: white;
    font-size: 17px;
}

.category-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 20px 0px;

    margin-bottom: 40px;
    width: 100%;
    background-color: var(--light-blue);
}

.responsive.category {
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.responsive.category .category-img {
    width: 20%;
    height: 100%;
    margin: 10px 30px;
}

.responsive.category .category-img img {
    background-color: var(--light-blue2);
    border-radius: 50%;
    padding: 5px;
    border: 4px solid white;
    align-items: center;
    width: 200%;
    height: 200%;
    cursor: pointer;
}

.responsive.category-name {
    width: 60%;
    display: flex;
    justify-content: center;
}

.responsive.category-name h1 {
    margin-left: 50px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
