.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 3vw;
    gap: 2vh 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-size: cover;
    border-radius: 45px;
    justify-content: flex-end;
    width: 80vw;
    height: 90vh;
}

.header .btn {
    display: flex;
    margin: 6vh 3vw;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2vh 0;
}

.content h1 {
    color: var(--light-blue);
    font-size: 50px;
}

.content h2 {
    color: var(--light-blue);
}

.content h3 {
    color: var(--pink);
}

.content p {
    color: var(--gray);
}

.content .container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container1 .img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1 img {
    width: 60%;
}

.container1 .text-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    gap: 3vh 0;
    width: 30%;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3vh 0;
    margin: 0 4vw;
}

.container2 .product-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2vh 0;
}

.product-info .info-item {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.container2 .action-buttons {
    display: flex;
    gap: 0 3vw;
}

@media (max-width: 992px) {
    .header {
        background-position: center;
    }
}
