.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin: 2vh 0;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    margin-bottom: 20px;
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center;
}

.header-container .icon {
    margin: 10px 30px;
    background-color: var(--pink);
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.header-container .icon svg {
    margin: 22px 15px 20px 8px;
    transform: rotate(180deg);
}

.header-container h1 {
    align-self: center;
    text-align: center;
    font-size: 80px;
    color: white;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: row;
    gap: 0 3vw;
    margin: 2vh 0;
    width: 80vw;
    max-width: 80vw;
}

.item h1 {
    text-align: end;
    font-size: 50px;
    width: 40%;
    color: var(--light-blue);
}

section {
    width: 58%;
    display: flex;
    flex-direction: column;
    gap: 1.5vh 0;
}

summary {
    cursor: pointer;
    display: block;
    width: 80%;
    font-family: "dine-r";
    font-size: 25px;
    color: var(--gray);
    padding: 2vh 5px;
    border-bottom: 1px solid var(--gray);
}

section p {
    font-family: "dine-r";
    font-size: 20px;
    color: var(--gray);
    width: 80%;
    margin: 1vh 0;
}

@media (max-width: 992px) {
    .item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    summary {
        width: 100%;
    }
    .header-container h1 {
        font-size: 60px;
    }
}
