/* NAVIGATION */

.content-nav::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 50px;
    rotate: 180deg;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid var(--light-blue);
}

/* FOOTER */
footer {
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px 40px 0px;
}

footer .main-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

footer .main-container .first-row {
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer .main-container .first-row img {
    width: 175px;
    height: 175px;
}

footer .main-container .first-row .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

footer .main-container .first-row .container span {
    color: white;
    font-size: 50px;
}

footer .main-container .first-row .container p {
    color: white;
    font-size: 20px;
    font-family: "din-r";
    font-weight: 100;
}

footer .main-container .second-row {
    display: flex;
    gap: 40px;
}

footer .main-container .second-row div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .main-container .second-row div .title,
footer .main-container .second-row .info span {
    color: var(--light-pink);
    font-size: 20px;
    font-family: "dine-r";
    font-weight: 600;
}

footer .main-container .second-row .main a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    gap: 10px;
    align-items: space-between;
    font-family: "dine-r";
}

footer .main-container .second-row .main.contact a svg path {
    fill: white;
}

footer .main-container .second-row .main.contact a span {
    font-family: "dine-r";
    font-weight: 100;
}
footer .main-container .second-row .main.contact a p {
    font-family: "dine-r";
    font-weight: 100;
}

footer .main-container .second-row .main.contact a.wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 300px;
}
footer .main-container .second-row .main.contact a.wrapper.left {
    justify-content: start;
}

footer .main-container .second-row .main.contact a.wrapper p {
    text-wrap: wrap;
}

footer .main-container .second-row .main.contact a.wrapper .extras .info {
    display: flex;
    flex-direction: row;
    width: 290px;
}

footer .main-container .second-row .main.contact a.wrapper .extras .info p {
    width: 45%;
}

footer .main-container .second-row .main.contact a.wrapper .extras span {
    color: var(--light-pink);
}

footer .main-container .second-row .info {
    width: 200px;
}

footer .main-container .second-row .info span {
    color: var(--light-pink);
    text-align: center;
}

footer .main-container .second-row .info div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .main-container .second-row .info .images {
    margin-top: 60px;
}

footer .main-container .second-row .info .images img {
    width: 50%;
    object-fit: contain;
}

footer .main-container .third-row {
    width: 100%;
    background-color: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .main-container .third-row .main-container-t {
    display: flex;
    width: 80%;
    margin: 10px;
}

footer .main-container .third-row .main-container-t .text {
    display: flex;
    flex-direction: column;
    width: 80%;
    color: var(--light-blue);
    margin-top: 20px;
    margin-bottom: 15px;
}

footer .main-container .third-row .main-container-t .text .margin {
    margin-top: 25px;
}

footer .main-container .third-row .main-container-t .text span {
    font-family: "din-r";
    font-size: 20px;
}

footer .main-container .third-row .main-container-t .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer .main-container .third-row .main-container-t .images img {
    width: 45%;
    object-fit: contain;
}
@media screen and (width < 1480px) {
    footer .main-container {
        width: 95%;
    }
}

@media screen and (width < 1170px) {
    footer .main-container {
        width: 90%;
    }
}

@media screen and (width < 1255px) {
    footer .main-container {
        width: 93%;
    }
}

@media screen and (width < 903px) {
    footer .main-container {
        width: 80%;
        display: flex;
    }

    footer .main-container .second-row {
        flex-wrap: wrap;
        flex-direction: row;
    }

    footer .main-container .second-row .main {
        width: 47%;
    }
}

@media screen and (width < 835px) {
    footer .main-container {
        width: 90%;
        display: flex;
    }

    footer .main-container .second-row .main {
        width: 45%;
    }
}

@media screen and (width < 850px) {
    footer {
        padding: 30px 0px 30px 0px;
    }

    footer .main-container {
        width: 80%;
        display: flex;
    }

    footer .main-container .second-row .main {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    footer .main-container .first-row {
        flex-direction: column;
        gap: 15px;
    }

    footer .main-container .first-row .container {
        width: 100%;
    }

    footer .main-container .second-row .info {
        width: 100%;
    }

    footer .main-container .second-row .info .images {
        margin-top: 10px;
    }

    footer .main-container .second-row .info .images img {
        width: 30%;
    }

    footer .main-container .third-row .main-container-t .text {
        text-align: center;
        width: 90%;
    }

    footer .main-container .third-row .main-container-t {
        flex-direction: column;
        margin-bottom: 30px;
    }

    footer .main-container .second-row .main.contact a.wrapper div {
        width: fit-content;
    }
}
