@import url("scrollbar.css");

/* Popup pages */
.imagePoup:hover > button,
.inputPopup:hover > button {
    display: block;
}

/* Theme selected topbar admin */
.theme-selected {
    @apply bg-zinc-200 dark:bg-zinc-900;
}

/* Link navbar admin */
.active-link-admin {
    background: linear-gradient(
        to right,
        var(--primary-color-rgba),
        rgba(0, 3, 15, 0)
    );

    color: var(--primary-color-600) !important;
    & svg {
        color: var(--primary-color-600) !important;
    }
}

.active-link-admin:hover {
    background: linear-gradient(
        to right,
        var(--primary-color-rgba-20),
        rgba(0, 3, 15, 0)
    ) !important;

    &:hover {
        svg {
            color: var(--primary-color-500) !important;
        }
    }
}

.ql-toolbar.ql-snow,
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    @apply bg-zinc-100 dark:bg-zinc-950 text-zinc-800 dark:text-zinc-300 border-zinc-400 dark:border-zinc-800 rounded-t-lg;
}

.ql-toolbar.ql-snow span,
.ql-toolbar.ql-snow button {
    @apply text-zinc-800 dark:text-zinc-300;
}

.ql-editor.ql-blank::before {
    @apply text-zinc-400 dark:text-zinc-600;
}

.ql-container.ql-snow {
    @apply bg-zinc-100  dark:bg-zinc-950 text-zinc-800 dark:text-zinc-300 border-zinc-400 dark:border-zinc-800 rounded-b-lg;
}

div[drawer-backdrop] {
    display: none;
}

/* Datatable */
div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-end {
    display: none;
}

div.dt-container div.dt-layout-row {
    margin: 0px !important;
}

.pulse-ring {
    animation: pulse-ring 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

@keyframes pulse-ring {
    0% {
        transform: scale(1); /* Tamaño inicial */
        box-shadow: 0 0 0 0 rgba(var(--primary-color-rgba), 0.5); /* Ajusta el color y el tamaño del anillo */
    }
    50% {
        transform: scale(1.2); /* Aumenta el tamaño del anillo */
        box-shadow: 0 0 0 10px rgba(var(--primary-color-rgba), 0.5); /* Ajusta el color y el tamaño del anillo */
    }
    100% {
        transform: scale(1); /* Regresa al tamaño original */
        box-shadow: 0 0 0 0 rgba(var(--primary-color-rgba), 0.5); /* Vuelve a desaparecer el anillo */
    }
}
