:root {
    /* Colors admin  */
    /*--primary-color: #011b4e;*/
    --primary-color-dark: #138fdc;

    --primary-color: #3b82f6;
    --primary-color-50: #eff6ff;
    --primary-color-100: #dbeafe;
    --primary-color-200: #bfdbfe;
    --primary-color-300: #93c5fd;
    --primary-color-400: #60a5fa;
    --primary-color-500: #3b82f6;
    --primary-color-600: #2563eb;
    --primary-color-700: #1d4ed8;
    --primary-color-800: #1e40af;
    --primary-color-900: #1e3a8a;
    --primary-color-950: #011b4e;

    --primary-color-rgba: rgba(59, 130, 246, 0.1);
    --primary-color-rgba-20: rgba(59, 130, 246, 0.2);

    --primary-color-store: #138fdc;
    --secondary-color-store: #011b4e;
    --tertiary-color-store: #bcddf1;

    /* Colors store */
    /* Colores Principales */
    --pink: #ffc9fa;
    --green: #5ca49b;
    --gray: #8f8f8f;
    --blue: #6e83be;
    --peach: #e8cad2;
    --brown: #6d422b;

    --light-gray: #e9efff;
    --light-blue: #93affd;
    --light-pink: #fcdcf9;
    --light-blue-2: #6e83be;

    --dark-pink: #ff69b4;
    --dark-blue: #254183;

    --blue-selected: #41507a;
    --pink-selected: #e296e2;
    --green-selected: #34756b;
    --dark-blue-selected: #84a0e3;
}

@font-face {
    font-family: "Poppins black";
    src: url("/public/fonts/Poppins-Black.ttf") format("ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("/public/fonts/Poppins-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "pluto-m";
    src: url("../../public/fonts/pluto-m.otf") format("opentype");
}

@font-face {
    font-family: "pluto-r";
    src: url("../../public/fonts/pluto-r.otf") format("opentype");
}

/* DIN */

@font-face {
    font-family: "din-b";
    src: url("../../public/fonts/din-b.otf");
}

@font-face {
    font-family: "din-i";
    src: url("../../public/fonts/din-i.otf");
}

@font-face {
    font-family: "din-r";
    src: url("../../public/fonts/din-r.otf");
}

/* DIN Exp */

@font-face {
    font-family: "dine-b";
    src: url("../../public/fonts/dine-b.otf");
}

@font-face {
    font-family: "dine-i";
    src: url("../../public/fonts/dine-i.otf");
}

@font-face {
    font-family: "dine-r";
    src: url("../../public/fonts/dine-r.otf");
}

/* DIN Condensed */

@font-face {
    font-family: "dinc-r";
    src: url("../../public/fonts/dinc-r.otf");
}

@font-face {
    font-family: "dinc-b";
    src: url("../../public/fonts/dinc-b.otf");
}
