@import url("constans.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "pluto-r";
}

/* Home  */
.content-nav::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 50px;
    rotate: 180deg;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid var(--light-blue);
}

.link {
    position: relative;
}

.link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

.link:hover::after {
    width: 100%;
}

.card-diagonal {
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 82% 100%, 0% 100%);
}

.card-diagonal::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 20%;
    background-color: var(--pink);
    clip-path: polygon(40% 20%, 100% 0, 30% 100%);
}

.active-tab {
    color: var(--blue);
    border-bottom: 4px solid var(--blue);
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: medium;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79a70a;
    background: linear-gradient(#2989d8 0%, #1e5799 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #1e5799;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #1e5799;
}
.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #1e5799;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #1e5799;
}

.schedule {
    box-shadow: -25px 25px 0px 0px rgba(147, 175, 253, 0.9);
}

.card-img {
    clip-path: polygon(
        100% 0%,
        0% 0%,
        0% 81.88%,
        1.18% 81.79%,
        2.35% 81.51%,
        3.53% 81.07%,
        4.71% 80.47%,
        5.88% 79.73%,
        7.06% 78.88%,
        8.24% 77.93%,
        9.41% 76.93%,
        10.59% 75.9%,
        11.76% 74.88%,
        12.94% 73.89%,
        14.12% 72.97%,
        15.29% 72.14%,
        16.47% 71.44%,
        17.65% 70.89%,
        18.82% 70.49%,
        20% 70.27%,
        21.18% 70.23%,
        22.35% 70.38%,
        23.53% 70.7%,
        24.71% 71.19%,
        25.88% 71.83%,
        27.06% 72.61%,
        28.24% 73.49%,
        29.41% 74.46%,
        30.59% 75.47%,
        31.76% 76.5%,
        32.94% 77.52%,
        34.12% 78.49%,
        35.29% 79.39%,
        36.47% 80.18%,
        37.65% 80.84%,
        38.82% 81.35%,
        40% 81.69%,
        41.18% 81.86%,
        42.35% 81.85%,
        43.53% 81.65%,
        44.71% 81.28%,
        45.88% 80.74%,
        47.06% 80.06%,
        48.24% 79.25%,
        49.41% 78.34%,
        50.59% 77.35%,
        51.76% 76.33%,
        52.94% 75.3%,
        54.12% 74.29%,
        55.29% 73.34%,
        56.47% 72.47%,
        57.65% 71.72%,
        58.82% 71.1%,
        60% 70.64%,
        61.18% 70.34%,
        62.35% 70.23%,
        63.53% 70.3%,
        64.71% 70.55%,
        65.88% 70.97%,
        67.06% 71.55%,
        68.24% 72.27%,
        69.41% 73.11%,
        70.59% 74.05%,
        71.76% 75.04%,
        72.94% 76.07%,
        74.12% 77.1%,
        75.29% 78.1%,
        76.47% 79.03%,
        77.65% 79.86%,
        78.82% 80.58%,
        80% 81.16%,
        81.18% 81.57%,
        82.35% 81.81%,
        83.53% 81.87%,
        84.71% 81.75%,
        85.88% 81.45%,
        87.06% 80.98%,
        88.24% 80.36%,
        89.41% 79.6%,
        90.59% 78.73%,
        91.76% 77.77%,
        92.94% 76.76%,
        94.12% 75.73%,
        95.29% 74.71%,
        96.47% 73.73%,
        97.65% 72.82%,
        98.82% 72.02%,
        100% 71.34%
    );
}

.a-none {
    clip-path: inset(0 0 50px 0); /* Recorta 50px de la parte inferior */
}

/* From Uiverse.io by Shoh2008 */
.checkbox-wrapper-19 {
    box-sizing: border-box;
    --background-color: #fff;
    --checkbox-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@-moz-keyframes dothabottomcheck-19 {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@-webkit-keyframes dothabottomcheck-19 {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@keyframes dothabottomcheck-19 {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@keyframes dothatopcheck-19 {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

@-webkit-keyframes dothatopcheck-19 {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

@-moz-keyframes dothatopcheck-19 {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

.checkbox-wrapper-19 input[type="checkbox"] {
    display: none;
}

.checkbox-wrapper-19 .check-box {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * 0.1) solid #8b8b8b;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
}

.checkbox-wrapper-19 .check-box::before,
.checkbox-wrapper-19 .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(var(--checkbox-height) * 0.2);
    background-color: var(--blue);
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
}

.checkbox-wrapper-19 .check-box::before {
    top: calc(var(--checkbox-height) * 0.72);
    left: calc(var(--checkbox-height) * 0.41);
    box-shadow: 0 0 0 calc(var(--checkbox-height) * 0.05)
        var(--background-color);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.checkbox-wrapper-19 .check-box::after {
    top: calc(var(--checkbox-height) * 0.37);
    left: calc(var(--checkbox-height) * 0.05);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox-wrapper-19 input[type="checkbox"]:checked + .check-box,
.checkbox-wrapper-19 .check-box.checked {
    border-color: var(--blue);
}

.checkbox-wrapper-19 input[type="checkbox"]:checked + .check-box::after,
.checkbox-wrapper-19 .check-box.checked::after {
    height: calc(var(--checkbox-height) / 2);
    -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    animation: dothabottomcheck-19 0.2s ease 0s forwards;
}

.checkbox-wrapper-19 input[type="checkbox"]:checked + .check-box::before,
.checkbox-wrapper-19 .check-box.checked::before {
    height: calc(var(--checkbox-height) * 1.2);
    -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
    animation: dothatopcheck-19 0.4s ease 0s forwards;
}
